<div style="centered">
<p>Posledny update:<code> {{now}} </code></p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Datum</th>
			<th scope="col">Typ</th>
			<th scope="col">Mesto</th>
			<th scope="col">Mapa</th>
		</tr>
	</thead>
	<tbody>
<!--		@for (country of countries; track country.name; let i = $index) {-->
			<tr>
				<th scope="row">
        CAS A DATUM
        </th>
				<td>

				</td>
				<td>TYP</td>
				<td>MESTO, Adresa</td>
				<td><a>Mapa...</a></td>
			</tr>
<!--		}-->
	</tbody>
</table>

</div>
