<div style="centered">
<p>Posledny update:<code> {{now}} </code></p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Pridané</th>
			<th scope="col">Typ</th>
			<th scope="col">Mesto</th>
			<th scope="col">Mapa</th>
		</tr>
	</thead>
	<tbody>
		@for (resp of response; track resp.pubMillis; let i = $index) {
    @if (resp.type != 'ROAD_CLOSED') {
			<tr>
				<td scope="row">
          {{resp.pubMillis | date:"d-M-yyyy  hh:mm:ss a"}}
        </td>
				<td>
          {{resp.type}}
				</td>
				<td>{{resp.street}},{{resp.city}}</td>
				<td><a target="_blank" href="https://maps.google.com/?q={{resp.location.y}},{{resp.location.x}}&z=20">Otvoriť v Google Maps...</a></td>
			</tr>
		}
  }
	</tbody>
</table>
  <p><b>Varovanie!: Toto su posledne data z okolia RS ktore su prave nahlasene a zobrazene aj v appke (waze).
  Vyhodou tohto portalu asi bude, ze pred jazdou si overite kde su prave nahlasene udalosti.</b></p>
</div>
